# FRONTEND (Next.js / Node)
node_modules/
.next/
out/
build/
.env
.env.local
npm-debug.log*

# BACKEND (.NET / C#)
[Bb]in/
[Oo]bj/
.vs/
*.user
*.suo
appsettings.Development.json

# SISTEMA OPERATIVO Y EDITORES
.DS_Store
Thumbs.db